body, html {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    @import url(//fonts.googleapis.com/css?family=Open+Sans);
    font-family: "Raleway", Arial, sans-serif;
    font-size: 16px;
}

#mapcontrol {
    color: #A5C0D7;
    font-weight: bold;
    text-decoration: underline;
}

#map {
    height: 350px;
    width: 96%;
    margin: 10px auto;
}

.show {
    display: block;
}
.hide {
    display: none;
}

.background {
    min-height: 100%;
}

#bg {
    z-index: -50;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

#root {
    min-height: 100%;
}

ul li:last-of-type {
    list-style-type: none;
}